{% extends "navbar_footer_clear.html" %}

{% block conteudo %}

<main class="main_main">
  <!-- Cabeçalho (Hero Section) -->
  <header class="hero_main">
    <div class="container_main container-2xl_main">
        <div class="hero-gradient_main">
            <div class="row_main items-center_main xl:g-6_main text-center_main">
                <div class="col-12_main">
                    <div class="hero-subheader_main">Infrastructure</div>
                    <div class="xl:pr-7_main">
                        <h1 class="hero-title_main">Research Facilities</h1>
                        <p class="hero-description_main mt-4_main">
                          Access our specialized laboratories and analytical platforms.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
</main>

<div class="section pt-6 pb-6">
  <div class="container_main">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="markdown">
              <h2 class="mb-4">Sobre os Facilities</h2>
              <p>
                As universidades e centros públicos de pesquisa no Brasil mantêm facilities científico-tecnológicas que incluem laboratórios multiusuários, plataformas analíticas e serviços especializados, permitindo o acesso compartilhado a equipamentos avançados e processos de alto custo. Esse modelo otimiza o uso de recursos públicos, evita duplicidades, fortalece a inovação e aproxima comunidade acadêmica, setor produtivo e sociedade civil.
              </p>
              <p>
                A Rede Nanogene também disponibiliza seus facilities para uso da comunidade científica e empresarial, oferecendo acesso à infraestrutura de pesquisa e serviços especializados. As solicitações de uso, registro de demandas e verificação de horários disponíveis podem ser realizadas no link abaixo.
              </p>
              
              <div class="mt-5 text-center">
                <a href="https://recapp.tech/" target="_blank" class="btn btn-primary btn-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                  Acessar Plataforma de Agendamento
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock conteudo %}