{% extends "navbar_footer_overlap.html" %}
{% load static %}


{% block conteudo %}
<!-- Pagina -->
<div class="page-wrapper"> 
         
  <!-- Page body -->
  <div class="page-body" id="body_id">
    <div class="container-xl">
      <!-- cards -->
      <div class="row row-deck row-cards">
        <!-- Breadcrumber -->
        <div class="col-12">
                            <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                              <li class="breadcrumb-item"><a href="">Home</a></li>
                              <li class="breadcrumb-item" aria-current="page"><a href="#">search</a></li>
                            </ol>                 
        </div>
            
        <!-- Titulo -->
        <div class="col-12"> 
                            <div class="card card-md">
                                <div class="card-stamp card-stamp-lg">
                                    <div class="card-stamp-icon bg-green">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M12 21h-5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v4.5" /><path d="M16.5 17.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" /><path d="M18.5 19.5l2.5 2.5" /></svg>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-10">
                                            <h3 class="h1">SiRNA Design Customization</h3>
                                                <div class="markdown text-secondary">
                                                    Take control by fine-tuning parameters to suit your specific needs. 
                                                    Whether it's selecting literature references or configuring alignment analyses with precision, every detail is customizable. 
                                                  
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div> 

        <!-- Formulario -->
        <div> 
            <form class="card" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- siRNAs Parameters -->
                <div class="card-body">
                    <h2 class="card-title"><b> siRNAs Parameters </b></h2>
                    <div class="row row-cards">
                        <div class="col-sm-6 col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="{{ form.sequence_tag.id_for_label }}">Query Title</label>
                                {{ form.sequence_tag }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="form-label" for="{{ form.sequence.id_for_label }}">Insert Fasta</div>
                                {{ form.sequence }}
                                <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content="<p>The FASTA file must adhere to the standard specified by NCBI. If it does not, ensure that the gene name is included in parentheses within the header.</p><p class='mb-0'>">?</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="{{ form.size.id_for_label }}">Size</label>
                                {{ form.size }}
                                <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content="<p>It is recommended that the size be between 19 and 22. Less than 5 will return error</p><p class='mb-0'>">?</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-label" for="{{ form.autor.id_for_label }}">Autor</div>
                            {{ form.autor }}
                        </div>
                        <div class="col-sm-6 col-md-4 d-none">
                            <input type="hidden" name="include_tm" value="True">
                        </div>
                        
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="{{ form.max_tm.id_for_label }}">Max Melting Temperature</label>
                                {{ form.max_tm }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- submit -->
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endblock conteudo %}





