{% extends "navbar_footer_overlap.html" %}
{% load static %}

{% block conteudo %}
<div class="page-wrapper">
    <div class="page-body" id="body_id">
        <div class="container-xl">
            
          <!-- cards -->
          <div class= "row row-deck row-cards">
              <!-- Breadcrumber -->
              <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-muted">
                      <li class="breadcrumb-item">
                        <a href="/">Home</a>
                      </li>
                      <li class="breadcrumb-item breadcrumb-muted">
                        <a href="/sirna/search/">Search</a>
                      </li>
                      <li class="breadcrumb-item active">
                        <a href="#">Loading</a>
                      </li>
                    </ol>
                  </nav>              
              </div>
              <!-- Titulo -->
              <div class="col-md-12 col-lg-9">
                <div class="card card-md">
                  <div class="card-stamp card-stamp-lg">
                    <div class="card-stamp-icon bg-dark">
                      <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-search">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M12 21h-5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v4.5" />
                        <path d="M16.5 17.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" />
                        <path d="M18.5 19.5l2.5 2.5" />
                      </svg>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-10">
                        <h3 class="h1">Finding and selecting siRNA...</h3>
                        <div class="markdown text-secondary">
                          Our algorithm is hard at work, fine-tuning and optimizing to deliver the most effective results. While you wait, why not explore your dashboard further? Monitor your projects, delve into detailed reports, and harness advanced data visualization tools. Click below to navigate directly to the dashboard and continue optimizing your research experience.
                        </div>
                        <!-- Progress Bar -->
                        <div class="mt-3">
                          <style>
                            .progress {
                              height: 30px;
                            }
                            .progress-bar {
                              height: 30px;
                            }
                          </style>
                          <div class="progress progress-sm mb-2">
                            <div id="progress-bar" class="progress-bar" style="background-color: #0a0908; width: 0%;">&nbsp;</div>
                          </div>
                          <!-- Progress description -->
                          <div id="progress-bar-message" class="alert alert-info">
                            Waiting for progress to start...
                            <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
                          </div>
                          <script>
                              document.addEventListener("DOMContentLoaded", function () {
                                var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
                                CeleryProgressBar.initProgressBar(progressUrl, {
                                  onSuccess: function (result) {
                                    // Update the progress bar to green and message
                                    var message = "Success! The task completed successfully.";
                                    document.getElementById('progress-bar').style.backgroundColor = '#74b816';
                                    document.getElementById('progress-bar-message').classList.replace('alert-info', 'alert-lime');
                                    document.getElementById('progress-bar').style.width = '100%';
                                    document.getElementById('progress-bar-message').textContent = message;

                                    // Redirect to dashboard after success
                                    setTimeout(function () {
                                      window.location.href = "/dashboard";
                                    }, 2000); // Wait 2 seconds before redirecting
                                  },
                                  onError: function (error) {
                                    // Show error buttons
                                    var errorMessage = "An error occurred while processing the task.";
                                    document.getElementById('progress-bar-message').classList.replace('alert-info', 'alert-danger');
                                    document.getElementById('progress-bar').style.backgroundColor = '#d63939';
                                    document.getElementById('progress-bar-message').textContent = errorMessage;

                                    // Create buttons for new search, contact us, and documentation review
                                    var buttonsHTML = `
                                      <div class="mt-3">
                                        <button class="btn btn-primary" onclick="window.location.href='/sirna/search/';">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 5l0 14"></path>
                                            <path d="M5 12l14 0"></path>
                                        </svg>
                                        New Search
                                        </button>
                                        <button class="btn btn-secondary" onclick="window.location.href='mailto:techsupport@nanogene.com.br';">Contact Us</button>
                                        <button class="btn btn-dark" onclick="window.location.href='/documentation';">Review Documentation</button>
                                      </div>
                                    `;
                                    document.getElementById('progress-bar-message').insertAdjacentHTML('afterend', buttonsHTML);
                                  }
                                });
                              });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Actions -->
              <div class="col-lg-3">
                <div class="card card-md sticky-top">
                  <div class="card-body">
                    <div class="row align-items-center" style='text-align:center'>
                        <h3 class="h1 text-lime">While you're waiting</h3>
                        <div class="markdown text-secondary">
                           Feel free to explore your profile or head over to the dashboard.
                        </div>
                        <div>
                          <div class="mt-3">
                            <a href="/dashboard" class="btn btn-dark" target="_blank" rel="noopener">
                              Go to Dashboard
                            </a>
                          </div>
                          <div class="mt-3">
                            <a href="/accounts/profile/" class="btn btn-dark" target="_blank" rel="noopener">
                              Go to Profile
                            </a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    
</div>

{% endblock conteudo %}